[alias]
	glog = log --graph
	last = log -1 HEAD
[core]
	attributesfile = ~/.config/git/.gitattributes
	excludesfile = ~/.config/git/.gitignore
[init]
	defaultBranch = main
[user]
	name = Charles Mesa Cayobit
	email = charlesmesacayobit@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
