# caches
*.pyc
*.zwc
__pycache__


# configs
.idea
.obsidian
.vscode


# C/C++
*.dSYM
*.o


# MacOS
*.savedSearch
._*
.DocumentRevisions-V100
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
Icon?


# Windows
System Volume Information